.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth !important;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* position: fixed; */
  /* //background: rgba(201.25, 201.25, 201.25, 1); */
  background: transparent;
}

/* 3d viewing */
canvas {
  width: 100%;
  /* height: 100%; */
  outline: none;
  background: transparent;
  
}

#container {
  width: 100%;
  /* height: 100%; */
  position: relative;
  background: transparent;
}



/* heading */
.header-topbar {
  padding: 0px 40px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: #3e4e6b;
  letter-spacing: 0.3px;
}

.name-block h3 {
}

.button-block {
  display: flex;
  gap: 0.5rem;
  /* font-family: 'Aeonik Pro Bold';
  letter-spacing: 0.5px; */
}

.contact-button {
  padding: 12px 18px;
  color: #fff;
  text-decoration: none;
  /* background: #ffb6de; */
  background-color: #333366;
  border-radius: 50px;
  margin-left: 10px;
}

.home-button {
  padding: 12px 14px;
  color: white;
  text-decoration: none;
  /* background: #ffb6de; */
  background-color: #333366;
  border-radius: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  max-width: 2rem;
}

.home-button icon {
  min-width: 1.5rem;
}

/* robo animation */
.imgBox {
  
}

.imgBox img {
  min-width: 15rem;
  scale: 1.3;
  animation: animate 5s linear infinite;
  margin-top: -5rem;
  margin-bottom: 5rem;
  width: 300px;
}

@keyframes animate {
  0%,100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
}

.quick-link {
  margin-right: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.table {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  font-size: .875rem;
    line-height: 1.25rem;
}

@media (min-width: 768px) {
  .table {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.table-header {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  /* border-color: rgba(55,65,81,var(--tw-border-opacity)); */
  border-color: #a32022;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  /* color: rgba(243,244,246,var(--tw-text-opacity)); */
}

@media (min-width: 768px) {
  .table-header {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

.landing {
  background-color: #fff4d9;
}

.navbar {
  background-color: #c87610;
  color: #fefcd3;
}

.typing-demo {
  width: 7ch;
  animation: typing 6s steps(7, end) infinite, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: #c87610;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  15%, 85% {
    width: 7ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@media (min-width: 768px) {
  /* .navbar {
    font-size: 1rem;
    line-height: 1.5rem;
  } */
}

.image-container {
  position: relative;
  width:100%;
  height:300px;
}

.image-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.image-flip:hover {
  transform: rotateY(180deg);
}

.front-image, .back-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden; /* Hides the image when it is flipped to the back */
}

.back-image {
  transform: rotateY(180deg); /* Flip the back image */
  object-fit: contain; /* Ensures the image fits within the container without cropping */
}

.image-default, .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease; /* Adjust the duration as needed */
}

.image-hover {
  opacity: 0;
}

.hyperlink {
  color: #c54805;
  font-weight: bold;
}

.software-title {
  /* color: #551f13; */
  color: #77360e;
}

.text-xl {
  /* color: #551f13; */
  /* color: #77360e; */
  color: #a32022;
}

.body-text {
  color: #551f13;
}


.image-container-1 {
  display: flex;
  /* gap: 10px; */
  position: relative;
}

.scatter-image {
  width: 120px;
  height: 120px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Define the scatter animations */
.scatter-image:hover:nth-child(1) {
  transform: translate(-50px, -50px) rotate(-15deg);
  opacity: 0.8;
}

.scatter-image:hover:nth-child(2) {
  transform: translate(50px, -50px) rotate(10deg);
  opacity: 0.8;
}

.scatter-image:hover:nth-child(3) {
  transform: translate(-50px, 50px) rotate(20deg);
  opacity: 0.8;
}

.scatter-image:hover:nth-child(4) {
  transform: translate(50px, 50px) rotate(-10deg);
  opacity: 0.8;
}

.scatter-image:hover:nth-child(5) {
  transform: translate(0px, -50px) rotate(5deg);
  opacity: 0.8;
}

/* Reset the other images when hovering any image */
.scatter-image:hover ~ .scatter-image {
  transform: translate(0px, 0px) rotate(0deg);
  opacity: 1;
}

.useful-links {
  background-color:rgb(200, 118, 16, 0.5);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.Picture1 {
  position: absolute;
  backface-visibility: hidden;
  cursor: grab;
}

.card:hover {
  transform: rotateY(180deg);
}

.Picture2Me {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  cursor: grab;
}

.thirtytwo {
  color: #fff4d9;
  font-weight: bold;
  font-size: larger;
}

.name {
  /* color: #551f13; */
  color: #77360e;
}

.pronoun-row {
  color: #c54805;
}

p {
  color: #551f13;
}

.dropdown {
  color: #551f13;
}

table {
  color: #551f13;
}